/* This is an attempt to organize the stylesheet in a different way */

/* SHARED PROPERTIES */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.links,
.footer {
    display: flex;
    height: 10vh;
}

#section-one,
#section-two,
#section-three,
#section-four {
    display: flex;
    height: 500px;
    flex-shrink: 0;
}

.one,
.two {
    display: flex;
}

.one {
    flex-direction: column;
}

.a,
.b,
.c {
    display: flex;
    flex-direction: column;
}

#section-one,
.header,
.footer {
    background-color: #1f2937;
}

/* SPECIFIC PROPERTIES */
/* HEADER */
.header {
    padding: 0 100px;
}
.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8 
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
}
/* SECTION ONE */
#section-one {
    padding: 0 100px;
}

#section-one .one {
    justify-content: center;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

#section-one button {
    /* check to see if any of this can be placed in the shared properties section */
    background-color: #3882f6;
    color: #f9faf8;
}
/* SECTION TWO */
#section-two {
    flex-direction: column;
}

.a {
    /*justify-content: center;*/ /* I don't think this part is necessary */
    align-items: center;
    margin: 0 32px;
    
}

.a img {
    width: 200px;
    border-radius: 15px;
}

#section-two .two {
    margin: 0 100px;
}
/* SECTION THREE */
#section-three {
    background-color: #e5e7eb;
}
/* SECTION FOUR */

/* FOOTER */