/* GENERAL PARAMETERS */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header,
.section-one {
    padding: 0 200px 150px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.section-one,
.section-two,
.section-three,
.section-four {
    height: 300px;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 8px 24px;
    color:#f9faf8;
    font-weight: bold;
}
/*SECTION SPECIFIC PARAMETERS */

/* HEADER */
.header {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    margin-left: auto;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb
}

/* SECTION ONE */
/* the hero section */
.section-one {
    background-color: #1f2937;
}

.section-one .text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 1000;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

/* SECTION TWO */
/* the image section */
.section-two img {
    height: 150px;
    align-self: center;
    border-radius: 16px;
}

/* SECTION THREE */
/* the quote section */
.section-three {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-weight: bold;
}

/* SECTION FOUR */
/* the call to action section */
.box {
    background-color: #3882f6;
    padding: 50px;
    gap: 60px;
    width: 600px;
    border-radius: 16px;
}

.bigtext {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
}

.smalltext {
    color: #e5e7eb;
}

/* FOOTER */
.footer {
    background-color: #1f2937;
}